<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>CFBundleIdentifier</key>
	<string>my.com.tnb.uatmcms.workexecution</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>MCMS Production</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIAppFonts</key>
	<array>
		<string>UIFontIcons.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>EvaIcons.ttf</string>
		<string>MaterialIcons-Regular.ttf</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>1.0.47.0</string>
	<key>CFBundleDisplayName</key>
	<string>MCMS Production</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This App Need To Access Your Location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This App Need To Access Your Location</string>
	<key>NSLocationUsageDescription</key>
	<string>This App Need To Access Your Location</string>
	<key>NSCameraUsageDescription</key>
	<string>App requires permission to Camera for taking Pictures.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App requires permission to access Photos</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App requires permission to save Pictures to Gallery.</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ms</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mailto</string>
		<string>tel</string>
	</array>
</dict>
</plist>
